body {
    background-color: #cbf9e0;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
  }
  
  .back-btn {
    background-color: #00a6ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  
  .card {
    background-color: white;
    padding: 10px 30px;
    width: 800px;
    height: 1000px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(161, 159, 159);
  }
  
  .card p {
    font-size: 16px;
    color: rgb(133, 131, 129);
  }
  
  .card h3 {
    font-size: 22px;
    font-weight: lighter;
  }
  
  .forms {
    font-size: 18px;
  }

  
  .form-row {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;

  }
  
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .forms label {
    display: block;
    margin-bottom: 10px;
  }
  
  .dropdown {
    width: 375px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #838181;
  }
  

  .btn-primary {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 30px; 
    font-size: 20px; 
    border: none; 
    border-radius: 8px; 
    margin-top: 30px;
    margin-left: 45%

  }