body{
    background-color: #d3f4f9;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

}

.back-btn{
    background-color: #00a6ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.appt-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 28px;
    border: 0px;
    font-size: 20px;
    margin-left: 70px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card {
    background-color: white;
    padding: 30px 20px;
    width: 350px;
    text-align: left;
    border-radius: 20px;
    padding-right: 30px;
  }
  
.card h3 {
    margin-top: 10px;
    font-size: 28px;
    text-align: left;
  }
  
.card p {
    color: rgb(81, 81, 81);
    font-size: 18px;
    text-align: center;
}
  
.tag{
    display: inline-block;
    padding: 5px 12px;
    margin-left: 35%;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #00a6ff;
    color: white;

}

.days{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.day{
    border: 1px solid rgb(192, 188, 188);
    margin-left: 20px;
    border-radius: 20px;
    padding: 2px 12px;
    display: inline-block;
}