body {
    background-color: #cbf9e0;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
  
  .back-btn {
    background-color: #00a6ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
