body {
    background-color: #cbf9e0;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
  }
  
  .back-btn {
    background-color: #00a6ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  .book-btn {
    display: block;
    width: 90%;       
    margin: 20px auto;     
    padding: 10px;
    background: #0099ff;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .rate-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 25px;
  }
  
  .service {
    text-align: center;
  }
  
  .service p {
    margin: 5px;
  }
  
  .price {
    color: #00a6ff;
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .txt{
    text-align: left;
    color: #a49f9f;
    margin: 0.5%;
    font-size: 18px;
  }


.card-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 70px;
}

.card {
  background-color: white;
  padding: 30px 20px;
  width: 350px;
  text-align: left;
  border-radius: 20px;
  padding-right: 30px;
}

.card h3 {
  margin-top: 10px;
  font-size: 25px;
  text-align: left;
  margin-bottom: 0%;
}

.card p {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.prerequisites{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.prerequisite{
  border: 1px solid #a49f9f;
  margin-left: 10px;
  border-radius: 20px;
  padding: 3px 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}



