body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin:0;
    padding: 0px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: teal;
    padding: 15px 30px;
    color: white;
}

.navigation {
    display: flex;
    gap: 15px;
}


.btn {  display:flex;
        width: 106px;
        height: 52.5px;
        border-radius: 10px;
        background-color: rgb(18, 209, 53);
        color: white;
        font-size: 15px;
        margin-right:50px;
        text-align:center;
        justify-content: center;
        align-items: center;
    }

/* From Uiverse.io by Thomasfadi */ 
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.cards .red {
  background-color: #007e9e;
}

.cards .blue {
  background-color: #0062ff;
}

.cards .green {
  background-color: #18cd5e;
}

.cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  text-align: center;
  height: 150px;
  width: 450px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
display: block;
  margin-bottom: 15px;

}

.cards .card p.second-text {
    white-space: pre-line;
  font-size: 2em;
    text-align: center;
    display: block;

}

.cards .card:hover {
  transform: scale(1, 1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.6, 0.6);
}
.iconic{
    font-size: 30px;
}
.appt_part{
    background:white;
    margin: 0 30px 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.appt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding:10px 0;
}
.doctor-info{
    display: flex;
    gap:10px;
    align-items: center;
}
.face{
    border-radius: 50%;
    background-color: grey;
    width: 40px;
    height: 40px;
}
.status {
    
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
.upcoming{
    background-color: #84B067;
    color: white;
}
.pending{
    background-color: #fff25c ;
color: rgb(62, 59, 59)
}
.cancelled{
    background-color: #FA8072;
    color: white;
}
.missed{
    background-color: #BA2636;
    color: white;
    
}
.past{
    background: #6c757d;
    color: white;
}

.type {
    font-size: 20px;
    color: #666;
}

.change{
    display: flex;
    width:150px;
    height: 40px;
    cursor:pointer;
    margin-left: 0px;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    background-color:white;
    border-radius: 5px;
    color:teal;
    
}
.change:hover{
background-color: teal;

color:white;
}

#app .navbar {
    display: none !important;
}

a {
  text-decoration: none;  
  color: inherit;         
}
a:hover {
  text-decoration: underline; 
}


.check{
    display: flex;
    gap:10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}

.med-cards{
    background:white;
    margin: 0 30px 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.med-card{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:1425px;
    border-top: 1px solid #eee;
    padding: 10px 0;
}
.meds{
        display: flex;
    gap:10px;
    align-items: center;
}

.dose{
    
    font-size: 20px;
    color: #666;
}


