body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin:0;
    padding: 0px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: teal;
    padding: 15px 30px;
    color: white;
}

.navigation {
    display: flex;
    gap: 15px;
}


.btn {  display:flex;
        width: 106px;
        height: 52.5px;
        border-radius: 10px;
        background-color: rgb(18, 209, 53);
        color: white;
        font-size: 15px;
        margin-right:50px;
        text-align:center;
        justify-content: center;
        align-items: center;
    }

.card-containers {
    display:flex;
    gap:20px;
    margin:30px;
    
}
.cards-app{
    flex:1;
    background: lightcoral;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.cards-test{
    flex:1;
    background: lightblue;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

.cards-meds{
    flex:1;
    background: lightgreen;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }


.iconic{
    font-size: 30px;
}
.appt_part{
    background:white;
    margin: 0 30px 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.appt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding:10px 0;
}
.doctor-info{
    display: flex;
    gap:10px;
    align-items: center;
}
.face{
    border-radius: 50%;
    background-color: grey;
    width: 40px;
    height: 40px;
}
.status {
    
    font-size: 12px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.upcoming{
    background-color: green;
    color: white;
}
.pending{
    background-color: rgb(232, 232, 15);
color: rgb(4, 1, 1);
}
.cancelled{
    background-color: rgb(215, 73, 73);
    color: white;
}
.missed{
    background-color: red;
    color: white;
    
}
.past{
    background: #6c757d;
    color: white;
}

.type {
    font-size: 14px;
    color: #666;
}