

body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #d3f4f9; 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.hero {
    width: 100%;
    height: 520px;
    overflow: hidden;
}


.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}


.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #49b678;
    font-size: 60px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background-color: white;
    padding: 30px 20px;
    width: 320px;
    text-align: center;
    border-radius: 20px;
  }
  
.card h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
.card p {
    color: rgb(81, 81, 81);
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
  }
  

.card-containers {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    justify-content: left;
    gap: 150px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.cards {
    scroll-snap-align: start;
    flex: 0 0 auto;
    background-color: white;
    padding: 70px 100px;
    width: 350px;
    border-radius: 25px;
  }

.cards p{
    font-size: 20px;
    text-align: left;
}

.cards h3{
    font-size: 20px;
    line-height: 0.5;
    margin-top: 0px;
    margin-bottom: 10px;
}

.contact p {
    text-align: left;
    max-width: none;
    margin: 0 50px;
    font-size: 30px;
    
}

.form{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px;
    border-radius: 30px;
    background-color: #067e89;
    width: 700px;
    height: 470px;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
}  