body{
    background-color: #BDDBD1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;;
}
#back{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 14px;
  border: none;
  background: #025159;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, box-shadow 0.2s;
}
#back:hover{
 transform: scale(1.05);
}
.form{
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.gib{
  padding: 4px 10px;      
  font-size: 12px;        
  background: #025159;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
#error{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
#login-error{
color:rgba(255, 0, 0, 0.919);
  background-color:rgba(242, 145, 145, 0.426);
  border-radius: 8px;
  border: 2px solid red;
  font-size: 10px;
  opacity: 0;
}
#error2{
  display:block;
}
.elevated-box{
     display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
    background-color: white;
    box-shadow:0 4px 6px gray;
    padding:20px;
    
    height: auto;
    flex-direction: column;
    text-align: center;

}